*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  hsl(226, 43%, 10%);
  font-size: 18px;
  color: white;
  font-family: "Rubik", sans-serif;
}

.flex-class{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

p{
    cursor: pointer;
}

main{
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 244px 244px;
    width: 1110px;
    gap: 30px;
     margin: 0 auto;
}

aside{
    grid-column: 1 /2;
    grid-row: 1/3;
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
}

.profile{
    width: 100%;
    height: 354px;
    border-radius: 15px;
    background-color: hsl(246, 80%, 60%);
}

.image-profile {
    padding-left: 30px;
    height: 114px;
}
.image-profile img {
    border-radius: 50%;
    height: 78px;
    width: 78px;
}

.report{
    height: 18px;
    font-weight: 300;
}

.name-profile, .report, .text{
    padding-left: 30px;
}

.name-profile h1{
    font-size: 40px;
    font-weight: 400;
}

.frenquency{
    height: 164px;
    width: 100%;
}

.text{
    margin-bottom: 21px;
    cursor: pointer;
}

.task-box{
    align-items: center !important;
    border-radius: 15px;
}

#nav-color{
    display: flex;
    justify-content: flex-end; 
    align-items:flex-start; 
    height: 22%; 
    width: 100%;
}

.data{
    width: 100%;
    height: 199px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 14px;

}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin: 0 0 16px 20px;
}

.time{
    font-size: 56px;
    height: 66px;
    margin: 0 0 8px 20px;
}

.last-update{
    font-size: 15px;
    height: 18px;
    margin-left: 20px;
    font-weight: 300;
}

#work{
    background-color:  hsl(15, 100%, 70%)
}

#exercise{
    background-color:  hsl(145, 58%, 55%)
}

#play{
    background-color: hsl(195, 74%, 62%)
}

#social{
    background-color:  hsl(264, 64%, 52%)
}

#study{
    background-color: hsl(348, 100%, 68%)
}

#self-care{
    background-color:  hsl(43, 84%, 65%)

}


@media screen and (max-width: 900px) {
    main{
        grid-template-columns: 327px 327px;
        grid-template-rows: 244px 244px 244px 244px;
        margin-top: 100px;
        justify-content: center !important;
    }
    aside{
        grid-column: 1 /3;
        grid-row: 1 / 2;
        background-color: hsl(235, 46%, 20%);
        border-radius: 15px;
        height: 244px;
    }

    .profile{
        flex-direction: row !important;
        align-items: center;
        height: 170px;
    }

    .image-profile{
        margin-top: 30px;
    }
    .frenquency{
        align-items: center !important;
        flex-direction: row !important;
        height:70px ;
    }
  }

  @media screen and (max-width: 711px) {
    main{
        grid-template-columns: 327px;
        grid-template-rows: 203px 160px 160px 160px 160px 160px 160px;
    }
    aside{
        grid-column: 1 / 2;
        height: 100%
    }

    .profile{
        height: 140px;
    }

    .image-profile img{
        height: 64px;
        width: 64px;
    }
    .frenquency{  

    }
  }